{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row">
        <!-- 主内容区 -->
        <div class="lg:col-8">
          <article class="blog-content">
            {{ $image:= .Params.image }}
            {{ if $image }}
              <div class="mb-10">
                {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
              </div>
            {{ end }}
            <h1 class="h2 mb-4 text-dark dark:text-white">
              {{ .Title }}
            </h1>
            <ul class="mb-4">
              <li class="mr-4 inline-block">
                <!-- Author info -->
                <a
                  href="{{ `authors/` | relLangURL }}{{ .Params.author | urlize }}/" class="text-dark dark:text-gray-300">
                  <i class="fa-regular fa-circle-user mr-2"></i
                  >{{ .Params.author }}
                </a>
              </li>
              {{ $categories:= .Params.categories }}
              {{ if $categories }}
                <li class="mr-4 inline-block">
                  <i class="fa-regular fa-folder mr-2 text-dark dark:text-gray-300"></i>
                  {{ range $i,$p:= $categories }}
                    <a
                      href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
                      class="text-dark dark:text-gray-300"
                      >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                        {{ "," }}
                      {{ end }}
                    </a>
                  {{ end }}
                </li>
              {{ end }}
              <li class="mr-4 inline-block text-dark dark:text-gray-300">
                <i class="fa-regular fa-clock mr-2"></i>
                {{ time.Format ":date_long" .PublishDate }}
              </li>
            </ul>
            <div class="content mb-10 text-gray-700 dark:text-gray-300">
              {{ .Content }}
            </div>
            <div class="row items-start justify-between">
              {{ $tags:= .Params.tags }}
              {{ if $tags }}
                <div class="lg:col-6 mb-10 flex items-center lg:mb-0">
                  <h5 class="mr-3 text-dark dark:text-white">{{ T "tags" }} :</h5>
                  <ul>
                    {{ range $i,$p:= $tags }}
                      <li class="inline-block">
                        <a
                          class="bg-light hover:bg-primary dark:bg-darkmode-light dark:hover:bg-darkmode-primary dark:hover:text-text-dark m-1 block rounded px-3 py-1 hover:text-white"
                          href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                          {{ . | humanize }}
                        </a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
              {{ end }}
              <div class="lg:col-6 flex items-center lg:justify-end">
                <h5 class="mr-3 text-dark dark:text-white">{{ T "share" }} :</h5>
                {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Title" .Title "Whatsapp" false "Telegram" false "Linkedin" false "Pinterest" false "Tumblr" false "Vk" false "Reddit" false) }}
              </div>
            </div>
            <!-- comments -->
            {{ if site.Config.Services.Disqus.Shortname }}
              <div class="mt-20">
                {{ template "_internal/disqus.html" . }}
              </div>
            {{ end }}
          </article>
        </div>

        <!-- 侧边栏 -->
        <div class="lg:col-4">
          <!-- 目录 -->
          {{ if .TableOfContents }}
            <div class="sticky top-6 pt-6">
              {{ partial "widgets/toc" .TableOfContents }}
            </div>
          {{ end }}
          
          <!-- 其他侧边栏小部件 -->
          {{ $widget:= site.Params.widgets.sidebar }}
          {{ range $widget }}
            {{ partial (printf "widgets/%s.html" .) (dict "Context" $ "Site" $.Site) }}
          {{ end }}
        </div>
      </div>

      <!-- Related posts -->
      {{ $related := .Site.RegularPages.Related . | first 10 }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <h2 class="h3 mb-12 text-dark dark:text-white">{{ T "related_posts" }}</h2>
          <div class="row">
            {{ range . }}
              <div class="lg:col-4 md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }} 